# Byte-compiled / optimized / DLL files
__pycache__/
pages/__pycache__/
tests/__pycache__/

# Environments
venv/

# Pycharm
.idea/
/allure-report/
/allure-results/
tests/allure-results/
/driver-report/
